$primary: #96d098;
$secondary: #868492;
$light: #eeeeee;
$success: #30bc9f;
$danger: #9d3e59;
$dark: #333a44;
$body-bg: #fafafa;
$border-radius: 2px;
$warning: #dbc481;
$table-cell-padding: 0.3rem;
$table-cell-padding: 0.4rem;
$input-bg: $dark;
$input-border-color: $primary;
$input-color: $primary;
$input-disabled-bg: lighten($dark, 10);
$custom-control-label-color: $primary;
$hr-border-color: $primary;

// Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap";
// BootstrapVue and its default variables
@import "~bootstrap-vue/src/index.scss";
@import "~vue-datetime";

input.vdatetime-input {
  border: none;
  width: 100%;
  padding: 0;
  background: $dark;
  color: $primary;
}

.tabs .nav-item {
  background-color: $dark;
}

.text-sm { font-size: $font-size-sm; }

.border-dark td { border-color: $dark; }

.border-primary td { border-color: $primary; }

.border-secondary td { border-color: $secondary; }

.app-bar-padding { padding-bottom: 3.5rem; }

.bg-dark-op {
  background: rgba($dark, .9);
}

.poster {
  background: repeat url("assets/bg.jpg");
  background-size: 100%;
}

html, body, #app, #app .container-fluid {
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  right: 0;
  color: $light;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body.poster .page-header { color: $dark; }

body:not(.poster) .page-header { color: $primary; }

body { background-color: $dark;}

legend { color: $primary !important;}

.iframe {
  color: $light;
}